<template>
    <v-card>
        <v-card-title
            style="background-color:#64b5f6; color:#FFF"
            class="defaul lighten-4 py-4 title"
        >
            Cambiar Foto de Perfil
        </v-card-title>
    <v-form ref="form" lazy-validation xs12>
        <v-container grid-list-sm class="pa-4">
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <h2 style="color: #160c7b !important; text-align:center;">Foto Actual</h2>
                    <v-flex>
                        <img :src="usuario.imgPerfil" alt="Foto de Perfil" class="profile-img">
                    </v-flex>
                    
                </v-flex>
                <v-flex xs12 sm6>
                   
                    <h2 style="color: #160c7b !important; text-align:center;">Foto Nueva</h2>
                    <v-flex
                    style="min-height: 30em; background-color: #49ace71a;"
                    >
                        <v-flex v-if="imagenes.length">
                    <img :src="imagenes[0]" alt="Foto de Perfil" class="profile-img">
                </v-flex>
                    </v-flex>
                    <file-input color="#EC3976" v-model="archivos">
                        <slot>
                                <v-alert
                                    :value="errorArchivo"
                                    color="error"
                                    icon="warning"
                                    outline
                                >
                                    Seleccione archivo
                                </v-alert>
                            </slot>
                    </file-input>
                </v-flex>
                
            </v-layout>
        </v-container>
    </v-form>
        <v-card-actions>
            <div v-if="estado == 1">
                <v-alert
                :value="true"
                type="success"
                transition="scale-transition"
                >
                La Información de usuario ha sido actualizada.
                </v-alert>
            </div>
            <div v-else-if="estado == 2">
                <v-alert
                :value="true"
                type="error"
                transition="scale-transition"
                >
                Error al actualizar la información de usuario
                </v-alert>
            </div>
            <div v-else>

            </div>
            <v-spacer></v-spacer>
            <v-btn flat color="#EC3976" @click="cancelar">Cancelar</v-btn>
            <v-btn flat color="#160c7b" @click="actualizarFoto">Guardar Cambios</v-btn>
        </v-card-actions>
    </v-card>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { Action, State } from 'vuex-class';
import { Usuario } from '@/interfaces/Usuario';
import FileInput from '@/components/FileInput.vue';
import Validaciones from '@/data/Validaciones';
import { beforeRouteEnter } from '@/guard.ts';

@Component({
    components: { FileInput },
    beforeRouteEnter,
})

export default class CambiarFoto extends Vue {
  @Prop() public value!: boolean;
  public errorArchivo: boolean = false;
  public validaciones = Validaciones;
  public archivos = [];
  public imagenes = [];
  public estado!: number;
  @State('usuario') public usuario!: Usuario;
  private id: string = '';

  @Action('datosCompletos') public guardarInfo(usuario: Usuario) { /**/ }

  @Watch('archivos')
  public  imagen() {
    this.imagenes = [];
    if (this.archivos) {
      for (const imagen of this.archivos) {
        this.imagenes.push(URL.createObjectURL(imagen));
      }
    }
  }

  public created() {
    this.obtenerInfoUsuarioLogueado();
  }

  public data() {
    return {
      valid: false,
      nombreRules: [
        (v: any) => !!v || 'El Nombre es requerido',
      ],
      correoRules: [
        (v: any) => !!v || 'El Correo es requerido',
        (v: any) => /.+@.+/.test(v) || 'El Correo debe ser válido',
      ],
      contrasenaRules: [
        (v: any) => !!v || 'La Contraseña es requerida',
      ],
      identidadRules: [
        (v: any) => !!v || 'El Número de identidad es requerido',
      ],
      fechaNacimientoRules: [
        (v: any) => !!v || 'La fecha de nacimiento es requerido',
      ],
      telefonoRules: [
        (v: any) => !!v || 'El número de teléfono es requerido',
        (v: any) => /\d/.test(v) || 'El número de teléfono debe ser válido',
      ],
      rtnRules: [
        (v: any) => !!v || 'El RTN es requerido',
        (v: any) => /\d/.test(v) || 'El RTN debe ser válido',
      ],
      estadoCivil: ['Soltero', 'Casado', 'Union Libre', 'Viudo', 'Divorciado'],
    };
  }

  public async actualizarFoto() {
    if (this.$refs.form.validate() && this.archivos) {
        const datos: FormData = new FormData();
        datos.append('archivo', this.archivos[0]);
        try {
          const res = await fetch('/api/perfil', {
            method: 'PUT',
            body: datos,
          });
          const data = await res.json();
          //  console.log(data);
          if (res.status === 401) {
            alert('Tiene que iniciar sesion para usar esta funcion');
            this.estado = 2;
          } else if (res.status === 200) {
            this.estado = 1;
          }
        } catch (error) {
          // console.log(error);
        }
    } else {
      if (!this.archivos) {
        this.errorArchivo = true;
      }
      alert('Llene todos los campos');
    }
  }

  public cancelar() {
    this.$emit('input', false);
  }

  public abrir() {
    this.$refs.usernameInput.click();
  }

  public previewFiles() {
    this.archivos = this.$refs.archivos.files;
  //   console.log(this.archivos);
  }

  public async obtenerInfoUsuarioLogueado() {
    try {
    const res = await fetch('/api/obtenerUsuario');
    if (res.status !== 401) {
      const data = await res.json();
      this.guardarInfo(data.usuario);
      this.id = data.usuario._id;
      // console.log(this.id);
      }
    } catch (error) {
        // console.log(error);
    }
  }
}
</script>


<style lang="scss" scoped>
    .center {
        text-align: center !important;
    }

  .profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    border-radius: 7px;
  }
</style>
