<template>
    <v-card>
        <v-card-title
            style="background-color:#64b5f6; color:#FFF"
            class="defaul lighten-4 py-4 title"
        >
            Editar Información
        </v-card-title>
    <v-form ref="form" lazy-validation xs12>
        <v-container grid-list-sm class="pa-4">
            <v-layout row wrap>
                <v-flex xs12>
                    <v-text-field
                        prepend-icon="person"
                        name="Nombre Completo"
                        label="Nombre Completo"
                        type="text"
                        :rules="nombreRules"
                        required
                        v-model="usuario.nombre">
                    </v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        prepend-icon="event"
                        name="Fecha de Nacimiento"
                        label="Fecha de Nacimiento"
                        type="date"
                        :rules="fechaNacimientoRules"
                        required
                        v-model="usuario.fechaNacimiento">
                    </v-text-field>
                </v-flex>
                <v-flex xs4>
                </v-flex>
                <v-flex xs4>
                </v-flex>
                <v-flex xs12>
                    <v-select
                        prepend-icon="person"
                        :items="estadoCivil"
                        label="Estado Civil"
                        :rules="[v => !!v || 'El estado civil es requerido']"
                        required
                        v-model="usuario.estadoCivil"
                    ></v-select>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        prepend-icon="dialpad"
                        name="Telefono"
                        label="Teléfono"
                        type="text"
                        :rules="telefonoRules"
                        required
                        v-model="usuario.telefono">
                    </v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        prepend-icon="mail"
                        name="RTN"
                        label="RTN"
                        type="text"
                        :rules="rtnRules"
                        required
                        v-model="usuario.RTN">
                    </v-text-field>
                </v-flex>
                <v-flex xs12>
                </v-flex>
                <v-flex xs12>
                </v-flex>
                <v-flex xs12>
                </v-flex>
                <v-flex xs12>
                </v-flex>
                <v-flex xs12>
                </v-flex>
                <v-flex xs12>
                </v-flex>
                <v-flex xs12>
                    <!-- <file-input color="#EC3976" v-model="archivos">
                        <slot>
                                <v-alert
                                    :value="errorArchivo"
                                    color="error"
                                    icon="warning"
                                    outline
                                >
                                    Seleccione archivo
                                </v-alert>
                            </slot>
                    </file-input> -->
                </v-flex>
            </v-layout>
        </v-container>
    </v-form>
        <v-card-actions>
            <div v-if="estado == 1">
                <v-alert
                :value="true"
                type="success"
                transition="scale-transition"
                >
                La Información de usuario ha sido actualizada.
                </v-alert>
            </div>
            <div v-else-if="estado == 2">
                <v-alert
                :value="true"
                type="error"
                transition="scale-transition"
                >
                Error al actualizar la información de usuario
                </v-alert>
            </div>
            <div v-else>

            </div>
            <v-spacer></v-spacer>
            <v-btn flat color="#EC3976" @click="cancelar">Cancelar</v-btn>
            <v-btn flat color="#160c7b" @click="actualizar">Guardar Cambios</v-btn>
        </v-card-actions>
    </v-card>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Action, State } from 'vuex-class';
import { Usuario } from '@/interfaces/Usuario';
import FileInput from '@/components/FileInput.vue';
import Validaciones from '@/data/Validaciones';
import { beforeRouteEnter } from '@/guard.ts';
import moment from 'moment';

@Component({
  components: { FileInput },
  beforeRouteEnter,
})
export default class EditarUsuario extends Vue {
  @Prop() public value!: boolean;
  public errorArchivo: boolean = false;
  public validaciones = Validaciones;
  public archivos = '';
  public usuario: Usuario = {};
  public estado!: number;
  private id: string = '';

  @Action('datosCompletos') public guardarInfo(usuario: Usuario) { /**/ }


  public created() {
    this.obtenerInfoUsuarioLogueado();
  }

  public data() {
    return {
      valid: false,
      nombreRules: [
        (v: string) => !!v || 'El Nombre es requerido',
      ],
      correoRules: [
        (v: string) => !!v || 'El Correo es requerido',
        (v: string) => /.+@.+/.test(v) || 'El Correo debe ser válido',
      ],
      contrasenaRules: [
        (v: string) => !!v || 'La Contraseña es requerida',
      ],
      identidadRules: [
        (v: string) => !!v || 'El Número de identidad es requerido',
      ],
      fechaNacimientoRules: [
        (v: string) => !!v || 'La fecha de nacimiento es requerido',
      ],
      telefonoRules: [
        (v: string) => !!v || 'El número de teléfono es requerido',
        (v: string) => /\d/.test(v) || 'El número de teléfono debe ser válido',
      ],
      rtnRules: [
        (v: string) => !!v || 'El RTN es requerido',
        (v: string) => /\d/.test(v) || 'El RTN debe ser válido',
      ],
      estadoCivil: ['Soltero', 'Casado', 'Union Libre', 'Viudo', 'Divorciado'],
    };
  }

  public async actualizar() {
    // console.log(this.usuario);
    if (this.$refs.form.validate()) {
        try {
          const res = await fetch(`/api/usuario`, {
            method: 'PUT',
            body: JSON.stringify(this.usuario),
            headers: {
              'Accept': 'application/json',
              'Content-type': 'application/json',
            },
          });
          const data = await res.json();
          // console.log(data);
          this.guardarInfo(data.usuario);
          if (res.status === 401) {
            alert('Tiene que iniciar sesion para usar esta funcion');
            this.estado = 2;
          } else if (res.status === 200) {
            this.estado = 1;
          }
        } catch (error) {
          // console.log(error);
        }
    } else {
      if (!this.archivos) {
        this.errorArchivo = true;
      }
      alert('Llene todos los campos');
    }
  }

  public cancelar() {
    this.$emit('input', false);
  }

  public abrir() {
    this.$refs.usernameInput.click();
  }

  public previewFiles() {
    this.archivos = this.$refs.archivos.files;
    // console.log(this.archivos);
  }

  public async obtenerInfoUsuarioLogueado() {
    try {
      const res = await fetch('/api/obtenerUsuario');
      if (res.status !== 401) {
        const data = await res.json();
        this.usuario = data.usuario;
        this.guardarInfo(data.usuario);
        this.id = data.usuario._id;
        // console.log(this.id);
      }
    } catch (error) {
        // console.log(error);
    }
    this.usuario.fechaNacimiento = moment.utc(String(this.usuario.fechaNacimiento)).format('YYYY-MM-DD');
  }
}
</script>


<style lang="scss" scoped>
    .center {
        text-align: center !important;
    }
</style>
