<template>
    <v-app id="inspire" style="background: linear-gradient(45deg,  rgba(66, 183, 245,0.8) 0%,rgba(52, 58, 189) 100%);">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar  dark color="#136CAE" >
                                <v-toolbar-title  > INICIAR SESIÓN </v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <v-form ref="form" v-model="valid" lazy-validation>
                                    <v-text-field
                                        prepend-icon="account_box"
                                        name="login"
                                        label="Usuario"
                                        type="text"
                                        :rules="correoRules"
                                        required
                                        v-model="email"
                                        @keypress="login"
                                        >
                                    </v-text-field>
                                    <v-text-field
                                        id="password"
                                        prepend-icon="vpn_key"
                                        name="password"
                                        label="Contraseña"
                                        type="password"
                                        :rules="contrasenaRules"
                                        required
                                        v-model="contrasena"
                                        @keypress="login"
                                        >
                                    </v-text-field>
                                </v-form>
                            </v-card-text>
                                <div class="box">
                                    <v-spacer></v-spacer>
                                    <v-btn  block dark color="#160C7B" @click.prevent="login">Ingresar</v-btn>
                                </div>

                            <v-card-actions >
                                <div class="center">
                                    <p class="register">
                                        ¿Aún no tienes cuenta?
                                        <v-btn flat small color="#4F9FE2" to="/registro">Regístrate</v-btn>
                                    </p>
                                </div>

                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
        <div v-if="estado">
            <v-alert
            :value="true"
            type="error"
            transition="scale-transition"
            >
                Correo o Contraseña inválidos
            </v-alert>
        </div>
    </v-app>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import axios from 'axios';

const axiosConfig = {
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
  },
};

interface InfoLogin {
    email: string;
    contrasena: string;
}


@Component({})
export default class Login extends Vue {
  private email: string = '';
  private contrasena: string = '';
  private informacionLogin!: InfoLogin;
  private estado: boolean = false;

  public data() {
    return {
      valid: false,
      correoRules: [
          (v: any) => !!v || 'El Correo es requerido',
          (v: any) => /.+@.+/.test(v) || 'El Correo debe ser válido',
      ],
      contrasenaRules: [
      (v: any) => !!v || 'La Contraseña es requerida',
      ],
    };
  }


  public created() {/**/}

  public async iniciarSesion() {
    this.informacionLogin = {
      email: this.email,
      contrasena: this.contrasena,
    };

    try {
      const res = await fetch('/api/login', {
          method: 'POST',
          body: JSON.stringify( this.informacionLogin),
          headers: {
          'Accept': 'application/json',
          'Content-type': 'application/json',
          },
      });
      const data = await res.json();
      if (res.status === 200) {
        this.$router.push({ path: '/home'});
      } else {
        this.estado = true;
      }

    } catch (error) {
      // console.log(error);
    }
  }

  public login(event: any) {
    if (event instanceof MouseEvent) {
      if (this.$refs.form.validate()) {
          // console.log("Entra");
          this.iniciarSesion();
      }
    }
    if (event instanceof KeyboardEvent) {
      if (event.key === 'Enter') {
        if (this.$refs.form.validate()) {
          // console.log("Entra");
          this.iniciarSesion();
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
#inspired {
  background-color: rebeccapurple;
}
.box {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
.register {
  padding: 5px;
  text-transform: uppercase;
  color: #777777 !important;
  font-weight: 500;
}
</style>
