<template>
    <v-app id="inspire" style="background: linear-gradient(45deg,  rgba(66, 183, 245,0.8) 0%,rgba(52, 58, 189) 100%);">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="#136CAE">
                                <v-toolbar-title>REGÍSTRATE</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <v-form ref="form" v-model="valid" lazy-validation>
                                    <v-text-field
                                        prepend-icon="person"
                                        name="Nombre Completo"
                                        label="Nombre Completo"
                                        type="text"
                                        :rules="nombreRules"
                                        required
                                        v-model="nombre">
                                    </v-text-field>
                                    <v-text-field
                                        prepend-icon="alternate_email"
                                        name="Email"
                                        label="Correo"
                                        type="text"
                                        :rules="correoRules"
                                        required
                                        v-model="email">
                                    </v-text-field>
                                    <v-text-field
                                        id="password"
                                        prepend-icon="lock"
                                        name="password"
                                        label="Contraseña"
                                        type="password"
                                        :rules="contrasenaRules"
                                        required
                                        v-model="contrasena">
                                    </v-text-field>
                                    <v-text-field
                                        prepend-icon="folder_open"
                                        name="Identidad"
                                        label="Identidad"
                                        type="text"
                                        :rules="identidadRules"
                                        required
                                        v-model="numeroIdentidad">
                                    </v-text-field>
                                    <v-text-field
                                        prepend-icon="event"
                                        name="Fecha de Nacimiento"
                                        label="Fecha de Nacimiento"
                                        type="date"
                                        :rules="fechaNacimientoRules"
                                        required
                                        v-model="fechaNacimiento">
                                    </v-text-field>
                                    <v-select
                                        prepend-icon="face"
                                        :items="generos"
                                        label="Género"
                                        :rules="[v => !!v || 'El genero es requerido']"
                                        required
                                        v-model="genero"
                                    ></v-select>
                                    <v-select
                                        prepend-icon="person"
                                        :items="estadosCiviles"
                                        label="Estado Civil"
                                        :rules="[v => !!v || 'El estado civil es requerido']"
                                        required
                                        v-model="estadoCivil"
                                    ></v-select>
                                    <v-text-field
                                        prepend-icon="call"
                                        name="Telefono"
                                        label="Teléfono"
                                        type="text"
                                        :rules="telefonoRules"
                                        required
                                        v-model="telefono">
                                    </v-text-field>
                                </v-form>
                            </v-card-text>
                                <div class="box">
                                    <v-spacer></v-spacer>
                                    <v-btn block dark color="#160C7B" @click.prevent="registrar">Registrar</v-btn>
                                </div>

                            <v-card-actions >
                                <div class="center">
                                    <p class="register">
                                        ¿Ya tienes cuenta?
                                        <v-btn flat small color="#160C7B" to="/login">Inicia Sesión</v-btn>
                                    </p>
                                </div>

                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Usuario } from '@/interfaces/Usuario';
import axios from 'axios';

const axiosConfig = {
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
  },
};

@Component({})
export default class Registro extends Vue {

  private nombre: string = '';
  private email: string = '';
  private contrasena: string = '';
  private numeroIdentidad: string = '';
  private fechaNacimiento: Date = new Date('0000-00-00');
  private genero: string = '';
  private estadoCivil: string = '';
  private telefono: string = '';
  private informacionUsuario!: Usuario;

  public data() {
    return {
      valid: false,
      nombreRules: [
          (v: string) => !!v || 'El Nombre es requerido',
      ],
      correoRules: [
          (v: string) => !!v || 'El Correo es requerido',
          (v: string) => /.+@.+/.test(v) || 'El Correo debe ser válido',
      ],
      contrasenaRules: [
          (v: string) => !!v || 'La Contraseña es requerida',
      ],
      identidadRules: [
          (v: string) => !!v || 'El Número de identidad es requerido',
      ],
      fechaNacimientoRules: [
          (v: string) => !!v || 'La fecha de nacimiento es requerido',
      ],
      telefonoRules: [
          (v: string) => !!v || 'El número de teléfono es requerido',
          (v: string) => /\d/.test(v) || 'El número de teléfono debe ser válido',
      ],
      generos: ['Femenino', 'Masculino'],
      estadosCiviles: ['Soltero', 'Casado', 'Union Libre', 'Viudo', 'Divorciado'],
    };
  }

  public created() {/***/}

  public registrar() {
    if (this.$refs.form.validate()) {
      this.informacionUsuario = {
        nombre: this.nombre,
        email: this.email,
        contrasena: this.contrasena,
        numeroIdentidad: this.numeroIdentidad,
        fechaNacimiento: this.fechaNacimiento,
        genero: this.genero,
        estadoCivil: this.estadoCivil,
        telefono: this.telefono,
      };
      // console.log(this.informacionUsuario);

      axios.post('/api/usuario', this.informacionUsuario, axiosConfig)
      .then((response) => {
        // console.log(response.data)
        alert('Usuario registrado con éxito');
        this.$router.push({ name: 'usuarios'});
      })
      .catch((error) => {
        // console.log(error);
        alert('Error al registrar el usuario');
      });
    }
  }
}
</script>

<style lang="scss" scoped>
    #inspired {
        background-color: rebeccapurple;
    }
    .box {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }
    .register {
        padding: 5px;
        text-transform: uppercase;
        color: #777777 !important;
        font-weight: 500;
    }
</style>
