<template>
  <v-app id="inspire">
    <v-navigation-drawer
      fixed
      :clipped="$vuetify.breakpoint.mdAndUp"
      app
      v-model="drawer"
    >
      <v-list dense dark>
        <template v-for="item in items">
          <v-layout
            row
            v-if="item.heading"
            align-center
            :key="item.heading"
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <v-list-group
            v-else-if="item.children"
            v-model="item.model"
            :key="item.text"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
          >
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              v-for="(child, i) in item.children"
              :key="i"
            >
              <v-list-tile-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ child.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
          <v-list-tile v-else @click="item.click" :key="item.text">
            <v-list-tile-action>
              <v-icon medium color="#EC3976">{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title >
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :color="colorBar"
      dark
      app
      :clipped-left="$vuetify.breakpoint.mdAndUp"
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span><router-link to="/home" >REALCO</router-link></span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        prepend-icon="search"
        label="Buscar"
        class="hidden-sm-and-down"
        v-model="busqueda"
        @keypress.enter="search"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-menu offset-y >

        <v-btn slot="activator" flat icon>
          <v-avatar size="32px">
            <img v-if="usuario.imgPerfil"
              :src="usuario.imgPerfil"
              alt="Vuetify"
            >
          </v-avatar>
        </v-btn>
        <v-list pa-1>
          <v-list-tile pr-1>
              <v-btn icon to="/perfil" style="color: #232323 !important">
              <v-icon>
              person
              </v-icon>
                Perfil
              </v-btn>
          </v-list-tile>
          <v-list-tile pr-1>
              <v-btn icon @click="logout">
              <v-icon>
              exit_to_app
              </v-icon>
                Salir
              </v-btn>
          </v-list-tile>
        </v-list>
      </v-menu>

    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
    <v-btn
      fab
      bottom
      right
      :color="colorIcon"
      dark
      fixed
      @click.stop="dialog = !dialog"
    >
      <v-icon>add</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" width="800px">
     <AgregarInmueble v-model="dialog"/>
    </v-dialog>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Action, State } from 'vuex-class';
import axios from 'axios';
import { Usuario } from '@/interfaces/Usuario';
import AgregarInmueble from '@/components/home/AgregarInmueble.vue';
axios.defaults.withCredentials = true;

const instance = axios.create({
  baseURL: 'http://localhost:3000',
  timeout: 10000,
  withCredentials: true,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
  },
});


@Component({
  components: { AgregarInmueble },
})
export default class Home extends Vue {
  public colorBar: string = '#030021';
  public colorIcon: string = '#64b5f6';
  public busqueda: string = '';
  public dialog: boolean = false;
  public drawer: any = null;
  public items = [
    
    { icon: 'home', text: 'Mis Inmuebles', click: this.misInmuebles },
    { icon: 'favorite', text: 'Favoritos', click: this.favoritos },
  ];
  public source: string = '';

  @State('usuario') public usuario!: Usuario;
  @Action('datos') public guardarInfo(usuario: Usuario) { /**/ }
  @Action('logout') public salir() { /**/ }

  public search() {
    this.$router.push({ name: 'busqueda', params: { palabras: this.busqueda }});
  }

  public favoritos() {
    this.$router.push({ name: 'favoritos'});
  }
  public misInmuebles() {
    this.$router.push({ name: 'inmublespropios'});
  }

  public created() {
    this.obtenerInfoUsuarioLogueado();
    this.obtenerIdUsuarioLogueado();
  }

  public async obtenerInfoUsuarioLogueado() {
    try {
      const res = await fetch('/api/obtenerUsuario');
      if (res.status !== 401) {
        const data = await res.json();
        this.guardarInfo(data.usuario);
        // console.log(this.usuario.imgPerfil);
      }
    } catch (error) {
      // console.log(error);
    }
  }

  public async obtenerIdUsuarioLogueado() {
    const res = await fetch('/api/esta-logueado');
    res.json().then((data) => {
        // console.log(data);
        if (data.estaLogueado === false) {
          this.$router.push({ path: '/login' });
        }
      });
  }

  public async logout() {
    const res = await fetch('/api/logout');
    res.json().then((data) => {
      this.salir();
      this.$router.push({ path: '/login' });
    });
  }
}
</script>
<style lang="scss">
.application--wrap{
  background-color:#e6e6e6;
}
</style>

<style lang="scss" scoped>
a:link, a
{
  text-decoration:none;
  color: white !important;
}

.application--wrap{
  .v-list__tile__action {
    i {
      color: #64b5f6  !important;
    }
  }
  aside{
  background-color: #030021!important;
  }
}
.v-list__tile__title{
  color:white;
  font-size:17px
}
.theme--dark.v-list{
  background: none;
}
// #inspire{
//  /* background-color: #3A778A*/
// }
</style>
