<template>
    <v-app light>
    <v-toolbar class="white">
    <img src="../assets/LogoRealco.png" width="5%" />
      <!--v-toolbar-title v-text="title"></v-toolbar-title-->
    </v-toolbar>
    <v-content>
      <section>
        <v-parallax src="assets/Cover.jpg" height="600">
          <v-layout
            column
            align-center
            justify-center
            class="white--text"
          >
            <img src="../assets/RealcoLogo.png" alt="Vuetify.js" height="200">
            <h1 class="white--text mb-2 display-1 text-xs-center"></h1>
            <div class="subheading mb-3 text-xs-center">La mejor manera de encontrar un hogar.</div>
            <v-btn
              class="blue lighten-2 mt-5"
              dark
              large
              to="/usuarios"
            >
              Iniciar
            </v-btn>
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-layout
          column
          wrap
          class="my-5"
          align-center
        >
          <v-flex xs12 sm4 class="my-3">
            <div class="text-xs-center">
              <h2 class="headline">¡La mejor manera de encontrar un hogar!</h2>
              <span class="subheading">
                Te facilitamos todo el proceso, desde el lugar donde te encuentres.
              </span>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">home</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Casa</div>
                    </v-card-title>
                    <v-card-text>
                      Encuentra casas en venta o alquilar fácilmente con nosotros.
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">assignment_ind</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline">Gente confiable</div>
                    </v-card-title>
                    <v-card-text>
                      Contamos con políticas  de seguridad para brindarte el servicio mas seguro y confiable.
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">location_on</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Ubicación</div>
                    </v-card-title>
                    <v-card-text>
                      Encuentra un hogar en el cual vivir, en cualquier parte de Honduras, y proximamente en cualquier parte del mundo.
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <section>
        <v-parallax src="assets/HomeKey.jpeg" height="380">
          <v-layout column align-center justify-center>
            <div class="headline white--text mb-3 text-xs-center">Encontrar casa nunca fue tan fácil.</div>
            <em></em>
            <v-btn
              class="blue lighten-2 mt-5"
              dark
              large
              to="/usuarios"
            >
              Buscar
            </v-btn>
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-container grid-list-xl>
          <v-layout row wrap justify-center class="my-5">
            <v-flex xs12 sm4>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Información de la Compañia</div>
                </v-card-title>
                <v-card-text>
                  Te facilitamos todo el proceso de alquiler de casas o apartamentos, ya sea que buscas un lugar donde vivir, o que tienes una casa que deseas alquilar. Somos tu intermediario mas eficiente, responsable y rapido, compruebalo!
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm4 offset-sm1>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Contáctanos</div>
                </v-card-title>
                <v-card-text>
                  Si deseas más información puedes contactarnos a través de:
                </v-card-text>
                <v-list class="transparent">
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">phone</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>(+504) 9999 9999</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">place</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>UNAH - CU, Tegucigalpa</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">email</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>realco@gmail.com</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </section>

      <v-footer class="blue darken-2">
        <v-layout row wrap align-center>
          <v-flex xs12>
            <div class="white--text ml-3">
              Hecho con
              <v-icon class="red--text">favorite</v-icon>
              por <a class="white--text" href="https://vuetifyjs.com" target="_blank">Vuetify</a>
              y <a class="white--text" href="https://github.com/vwxyzjn">REALCO</a>
            </div>
          </v-flex>
        </v-layout>
      </v-footer>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import axios from 'axios';

const axiosConfig = {
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
  },
};

@Component({})
export default class Landing extends Vue {
  private  title: string = '.';
  private  baseUrl: string = process.env.BASE_URL;
}
</script>
