<template>
  <v-app id="inspire">
    <v-toolbar
      color="#030021"
      dark
      app
      :clipped-left="$vuetify.breakpoint.mdAndUp"
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0">
        <span ><router-link to="/home" >REALCO</router-link></span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        prepend-icon="search"
        label="Buscar"
        class="hidden-sm-and-down"
        v-model="busqueda"
        @keypress.enter="search"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-menu offset-y>

        <v-btn slot="activator" flat icon>
          <v-avatar size="32px">
            <img v-if="usuario.imgPerfil"
              :src="usuario.imgPerfil"
              alt="Vuetify"
            >
          </v-avatar>
        </v-btn>
        <v-list>
          <v-list-tile>
              <v-btn icon to="/perfil" style="color: #232323 !important">
                Perfil
              </v-btn>
          </v-list-tile>
          <v-list-tile>
              <v-btn icon @click="logout">
                Salir
              </v-btn>
          </v-list-tile>
        </v-list>
      </v-menu>

    </v-toolbar>
    <v-content>
     <v-container fluid grid-list-md style="background-color:#e6e6e6;">
        <v-layout row>
          <v-flex hidden-and-down-md lg3>

          </v-flex>
          <v-flex lg6>
            <v-card>
              <div style="padding-top: 15px;"></div>
              <v-layout>
              <v-flex xs12 sm6 ml-3 mr-1 pr-4 mb-3 style="border-right: solid #64b5f6;">
              <v-img
                 :src="usuario.imgPerfil"
                  :alt="Foto_de_Perfil"
                  aspect-ratio="1"
                  class="grey lighten-2"
                  >
                      <v-layout
                          slot="placeholder"
                          fill-height
                          align-center
                          justify-center
                          ma-0
                      >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-layout>
                      <slot>
                          <v-btn
                              absolute
                              dark
                              fab
                              bottom
                              right
                              color="#64b5f6"
                              class="my-5"
                              small
                              @click.stop="fotoDialog = !fotoDialog"
                              >
                              <v-icon>edit</v-icon>
                          </v-btn>
                          <v-dialog v-model="fotoDialog" width="800px">
                            <CambiarFoto v-model="fotoDialog"/>
                          </v-dialog>               
                      </slot>
              </v-img>
              <v-spacer></v-spacer>
              <h1 class="text-xs-center" style="padding-top: 15px; color: #160c7b !important; ">{{ usuario.nombre }}</h1>
              <div row style="margin-bottom:2em; ">
                <h3 class="text-xs-center" style="padding-top: 10px; color: #444440">{{ usuario.email }}</h3>
                <h3 class="text-xs-center" style="padding-top: 15px; color: #444440"> Miembro desde: {{ usuario.fechaRegistro | formatDate }}</h3>
              </div>
              </v-flex>
              <v-flex sm6 xs12>

              <v-card-text>
                <div 
                style="font-size:1.5em;"
                >
                  <div class="text-xs-left" style="padding-top: 10px; color: #1b117e; font-weight: bold;"> Fecha de Nacimiento:</div>
                  <center> {{ usuario.fechaNacimiento | formatDate }}</center>
                  <div class="text-xs-left" style="padding-top: 10px; color: #1b117e; font-weight: bold;"> Estado Civil: </div>
                  <center>{{ usuario.estadoCivil }}</center>
                  <div class="text-xs-left" style="padding-top: 10px; color: #1b117e; font-weight: bold;"> Número de Identidad: </div>
                  <center>{{ usuario.numeroIdentidad }}</center>
                  <div class="text-xs-left" style="padding-top: 10px; color: #1b117e; font-weight: bold;" > Género: </div>
                   <center>{{ usuario.genero  }}</center>
                  <div class="text-xs-left" style="padding-top: 10px; color: #1b117e; font-weight: bold;"> Teléfono: </div>
                  <center>{{ usuario.telefono  }}</center>
                  <div v-if="usuario.RTN !== ''">
                    <div class="text-xs-left" style="padding-top: 10px; color: #1b117e; font-weight: bold;"> RTN:</div>
                    <center>{{ usuario.RTN }}</center>
                  </div>
                </div>
                
                
              </v-card-text>
              </v-flex>
              

              </v-layout>
            </v-card>
          </v-flex>
          <v-flex hidden-and-down-md lg3>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <v-btn
      fab
      bottom
      right
      color="#64b5f6"
      dark
      fixed
      @click.stop="dialog = !dialog"
    >
      <v-icon>edit</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" width="800px">
      <EditarUsuario v-model="dialog"/>
    </v-dialog>
    <v-dialog v-model="fotoDialog" width="800px">
      <CambiarFoto v-model="fotoDialog"/>
    </v-dialog>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Action, State } from 'vuex-class';
import axios from 'axios';
import { Usuario } from '@/interfaces/Usuario';
import EditarUsuario from '@/components/perfil/EditarUsuario.vue';
import CambiarFoto from '@/components/perfil/CambiarFoto.vue';

axios.defaults.withCredentials = true;

const instance = axios.create({
  baseURL: 'http://localhost:3000',
  timeout: 10000,
  withCredentials: true,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
  },
});


@Component({
  components: { EditarUsuario, CambiarFoto },
})

export default class Home extends Vue {
  public busqueda: string = '';
  public dialog: boolean = false;
  public fotoDialog: boolean = false;
  public drawer: any = null;
  public items = [
    { icon: 'favorite', text: 'Favoritos', click: this.favoritos },
    { icon: 'home', text: 'Mis Inmuebles', click: this.misInmuebles },
  ];
  public source: string = '';

  @State('usuario') public usuario!: Usuario;
  @Action('datosCompletos') public guardarInfo(usuario: Usuario) { /**/ }
  @Action('logout') public salir() { /**/ }



  public search() {
    this.$router.push({ name: 'busqueda', params: { palabras: this.busqueda }});
  }

  public favoritos() {
    this.$router.push({ name: 'favoritos'});
  }
  public misInmuebles() {
    this.$router.push({ name: 'inmublespropios'});
  }

  public created() {
    this.obtenerInfoUsuarioLogueado();
    this.obtenerIdUsuarioLogueado();
  }

  public async obtenerInfoUsuarioLogueado() {
    try {
      const res = await fetch('/api/obtenerUsuario');
      if (res.status !== 401) {
        const data = await res.json();
        this.guardarInfo(data.usuario);

      }
    } catch (error) {
      // console.log(error);
    }
  }

  public async obtenerIdUsuarioLogueado() {
    const res = await fetch('/api/esta-logueado');
    res.json().then((data) => {
      // console.log(data);
      if (data.estaLogueado === false) {
        this.$router.push({ path: '/login' });
      }
    });
  }

  public async logout() {
    const res = await fetch('/api/logout');
    res.json().then((data) => {
      this.salir();
      this.$router.push({ path: '/login' });
    });
  }
}
</script>
<style lang="scss" scoped>
  a:link, a
  {
    text-decoration:none;
    color: white !important;
  }

  .profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
    border-radius: 7px;
  }

</style>
