<template>
  <router-view></router-view>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class Usuarios extends Vue {
  constructor() {
    super();
  }
}
</script>
