<template>
  <v-card>
    <v-card-title
        style="background-color:#64b5f6; color:#FFF"
        class="defaul lighten-4 py-4 title"
    >
        Agregar Inmueble
    </v-card-title>

    <v-form ref="form" lazy-validation xs12>
      <v-container grid-list-sm class="pa-4">
          <v-layout row wrap>
            <!--Contenedor de Imagenes-->
              <v-layout row wrap align-end xs12 sm6 pa-2 mr-3
                  style="min-height: 30em; background-color: #49ace71a;"
                  >
              <!--Se cargan imagenes-->
              <v-flex xs12 v-if="imagenes.length">
                  <v-card>
                      <v-container grid-list-sm fluid>
                          <v-layout row wrap>
                              <v-flex
                              v-for="(imagen, key) in imagenes"
                              :class="tamGridImagen"
                              d-flex
                              ref="imagenes"
                              :key="key"
                              >
                              <v-card flat tile class="d-flex">
                                  <v-img
                                      :src="imagen"
                                      :alt="imagen"
                                      aspect-ratio="1"
                                      class="grey lighten-2"
                                  >
                                      <v-layout
                                          slot="placeholder"
                                          fill-height
                                          align-center
                                          justify-center
                                          ma-0
                                      >
                                          <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                      </v-layout>
                                      <slot>
                                          <v-btn
                                              absolute
                                              dark
                                              fab
                                              bottom
                                              right
                                              color="gray"
                                              class="my-5"
                                              small
                                              @click="retirar(key)"
                                              >
                                              <v-icon>delete_forever</v-icon>
                                          </v-btn>
                                      </slot>
                                  </v-img>
                              </v-card>
                              </v-flex>
                          </v-layout>
                      </v-container>
                  </v-card>
              </v-flex>
              <!--Fin de Contenedor de Imagenes-->
              <!--Contenedor de boton para cargar imagenes-->
              <v-flex xs12  >
                  <file-input color="#160c7b" v-model="farchivos" multiple :accept="accept">
                      <slot>
                              <v-alert
                                  :value="errorArchivo"
                                  color="error"
                                  icon="warning"
                                  outline
                              >
                                  Seleccione archivo
                              </v-alert>
                          </slot>
                  </file-input>
              </v-flex>
              <!--Fin de Contenedor de boton para cargar imagenes-->
              </v-layout>
              
              
              <v-flex xs12 sm6 >
                <v-flex xs12>
                <!--Contenedor de Precio-->
                  <h2 style="color: #160c7b !important; border-bottom: solid #160c7b; text-align:center;">Precio</h2>
                  <v-spacer></v-spacer>
                </v-flex>
                <v-flex xs12 align-center justify-space-between>
                  <v-layout align-center>
                      <v-text-field
                          v-model="inmueble.precio"
                          label="Precio en Lempiras"
                          prepend-icon="info"
                          :rules="validaciones.numeroRules"
                      ></v-text-field>
                  </v-layout>
                </v-flex>
                <!--Fin de Contenedor de Precio-->
                <!--Contenedor de Ubicación-->
              <v-flex xs12 mt-2>
                  <h2 style="color: #160c7b !important; border-bottom: solid #160c7b; text-align:center;">Ubicación</h2>
                  <v-select
                      v-model="depto"
                      :items="departamentos"
                      label="Departamento"
                      prepend-icon="place"
                      :rules="validaciones.obligatorioRules"
                  ></v-select>
              </v-flex>
              <v-flex xs12>
                    <v-select
                      v-model="inmueble.ubicacion.municipio"
                      :items="municipios"
                      label="Municipio"
                      prepend-icon="place"
                      :rules="validaciones.obligatorioRules"
                  ></v-select>
              </v-flex>
              <v-flex xs12>
                  <v-text-field
                  v-model="inmueble.ubicacion.colonia"
                  prepend-icon="home"
                  label="Colonia"
                  :rules="validaciones.obligatorioRules"
                  ></v-text-field>
              </v-flex>
              <v-layout row>

                <v-flex xs12 sm6>
                  <v-text-field
                  v-model="inmueble.ubicacion.NumeroCasa"
                  prepend-icon="home"
                  label="Numero de casa"
                  :rules="validaciones.numeroRules"
                  ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                  <v-text-field
                  v-model="inmueble.ubicacion.bloque"
                  prepend-icon="home"
                  label="Bloque"
                  :rules="validaciones.numNoOblRules"
                  ></v-text-field>
              </v-flex>

              </v-layout>
              <!--Fin de Contenedor de Ubicación-->
              </v-flex>
              

              

              <!--Contenedor de Características-->
              <v-flex xs12 mt-4>
                  <h2 style="color: #160c7b !important; border-bottom: solid #160c7b; text-align:center;">Características</h2>
                  <v-spacer></v-spacer>
              </v-flex>
              <v-flex xs12 sm6>
                  <v-text-field v-model="inmueble.tamano"
                  prepend-icon="folder_open"
                  label="Tamaño"
                  :rules="validaciones.numeroRules"
                  ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                  <v-select
                      v-model="inmueble.tipo"
                      :items="tipo"
                      label="Tipo"
                      prepend-icon="folder_open"
                        :rules="validaciones.obligatorioRules"
                  ></v-select>
              </v-flex>
              <v-layout row>
                <v-flex xs12 sm6>
                    <v-text-field
                    v-model="inmueble.contiene.habitaciones"
                    prepend-icon="widgets"
                    label="Número de Habitaciones"
                    :rules="validaciones.numeroRules"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-text-field
                    v-model="inmueble.contiene.banos"
                    prepend-icon="widgets"
                    label="Número de Baños"
                    :rules="validaciones.banhosRules"
                    ></v-text-field>
                </v-flex>
              </v-layout>
              <!--Fin Contenedor de Características-->
              <!--Contenedor de Servicios-->
              <v-flex xs12>
                  <h2 style="color: #160c7b !important; border-bottom: solid #160c7b; text-align:center;">Servicios Incluidos</h2>

              </v-flex>
              <v-flex xs4>
                  <v-checkbox
                      label="TV"
                      v-model="inmueble.servicios.tv"
                  ></v-checkbox>
              </v-flex>
              <v-flex xs4>
                  <v-checkbox
                      label="Luz"
                      v-model="inmueble.servicios.luz"
                      ></v-checkbox>
              </v-flex>
              <v-flex xs4>
                  <v-checkbox
                      label="Agua"
                      v-model="inmueble.servicios.agua"
                  ></v-checkbox>
              </v-flex>
              <!--Fin de Contenedor de Servicios-->
              <!--Contenedor de Requisitos-->
              <v-flex xs12>
                  <h2 style="color: #160c7b !important; border-bottom: solid #160c7b; text-align:center;">Requisitos</h2>
              </v-flex>
              <v-layout row xs12>
               <v-flex xs12 sm6>
                  <v-select
                      v-model="inmueble.requisitos.estadoCivil"
                      :items="estadoCivil"
                      label="Estado civil"
                      prepend-icon="gavel"
                        :rules="validaciones.obligatorioRules"
                  ></v-select>
              </v-flex>
              <v-flex xs12 sm6>
                  <v-text-field
                  v-model="inmueble.requisitos.personasPermitidas"
                  prepend-icon="people"
                  label="Numero de Personas Permitidas"
                  :rules="validaciones.numeroRules"
                  ></v-text-field>
              </v-flex>
              </v-layout>
              <v-flex xs12>
                <v-checkbox
                      label="Trabajo"
                      v-model="inmueble.requisitos.trabajo"
                  ></v-checkbox>
              </v-flex>
               
             
              <!--Fin de Contenedor de Requisitos-->


          </v-layout>
      </v-container>
  </v-form>
      <v-card-actions>
          <div v-if="estado == 1">
              <v-alert
              :value="true"
              type="success"
              transition="scale-transition"
              >
              El inmueble se agregó exitosamente.
              </v-alert>
          </div>
          <div v-else-if="estado == 2">
              <v-alert
              :value="true"
              type="error"
              transition="scale-transition"
              >
              Error al agregar inmueble.
              </v-alert>
          </div>
          <div v-else>

          </div>
          <v-spacer></v-spacer>
          <v-btn flat color="#EC3976" @click="cancelar">Cancelar</v-btn>
          <v-btn flat color="#160c7b" @click="agregar">Agregar</v-btn>
      </v-card-actions>
  </v-card>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import FileInput from '@/components/FileInput.vue';
import Ubicacion from '@/data/Departamentos';
import Validaciones from '@/data/Validaciones';
import { beforeRouteEnter } from '@/guard.ts';

@Component({
    components: { FileInput },
    beforeRouteEnter,
})

export default class AgregarInmueble extends Vue {
  @Prop() public value!: boolean;
  public errorArchivo: boolean = false;
  public validaciones = Validaciones;
  public archivos = [];
  public farchivos = [];
  public inmueble: any;
  public imagenes: string[] = [];
  public tipo = ['Casa', 'Apartamento', 'Cuarto'];
  public estadoCivil = ['Soltero', 'Casado', 'En una relacion pero ella no la sabe'];
  public departamentos = Object.keys(Ubicacion);
  public depto = ''; // Se usa debido a que no detecta la asignacion dentro del objeto
  public estado!: number;
  public accept = 'image/*';

  get municipios() {
    if (this.depto) {
      return Ubicacion[this.depto];
    } else {
      return [];
    }
  }

  constructor() {
    super();
    this.initInmueble();
  }

  @Watch('archivos')
  private imagen() {
    this.imagenes = [];
    if (this.archivos) {
      for (const imagen of this.archivos) {
        this.imagenes.push(URL.createObjectURL(imagen));
      }
    }
  }

  @Watch('farchivos')
  private arregloImagen() {
    if (this.farchivos) {
      for (const imagen of this.farchivos) {
        this.archivos.push(imagen);
      }
    }
  }

  get tamGridImagen() {
    switch (this.archivos.length) {
      case 1:
        return 'xs12';
      case 2:
        return 'xs6';
      default:
        return 'xs4';
    }
  }

  private retirar(e: number) {
    this.archivos.splice(e, 1);
  }

  private async agregar() {
    this.inmueble.ubicacion.departamento = this.depto;
    // console.log(this.inmueble);
    if (this.$refs.form.validate() && this.archivos) {
      const datos: FormData = new FormData();
      datos.append('inmueble', JSON.stringify(this.inmueble));
      if (this.archivos.length === 1) {
        datos.append('archivo', this.archivos[0]);
      }
      try {
        const res = await fetch('/api/inmueble', {
          method: 'POST',
          body: datos,
        });
        const data = await res.json();
        // console.log(data);
        if (res.status === 401) {
          alert('Tiene que iniciar sesion para usar esta funcion');
          this.estado = 2;
        } else if (res.status === 200) {
          if (this.archivos.length > 0) {
            for (const archivo of this.archivos) {
              const datos2 = new FormData();
              datos2.append('archivo', archivo);
              const res2 = await fetch(`/api/agregar-imagen/${data.inmueble._id}`, {
                  method: 'PUT',
                  body: datos2,
              });
              const data2 = await res2.json();
              // console.log(data2);
            }
          }
          this.$refs.form.reset();
          this.archivos = [];
          this.estado = 1;
        }
      } catch (error) {
        // console.log(error);
      }
    } else {
      if (!this.archivos) {
        this.errorArchivo = true;
      }
      alert('Llene todos los cambios');
    }
  }

  private cancelar() {
    this.$emit('input', false);
  }

  private initInmueble() {
    this.inmueble = {
      precio: '',
      tamano: '',
      tipo: '',
      contiene: {
        habitaciones: '',
        banos: '',
      },
      servicios: {
        tv: false,
        luz: false,
        agua: false,
      },
      requisitos: {
        trabajo: false,
        estadoCivil: '',
        personasPermitidas: '',
      },
      ubicacion: {
        departamento: '',
        municipio: '',
        colonia: '',
        NumeroCasa: '',
        bloque: '',
      },
    };
  }

}
</script>


<style lang="scss" scoped>
.center {
    text-align: center !important;
}
</style>
