<template>
  <div>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex xs12 sm3>
          <Filtros v-model="filtrosBusqueda"/>
        </v-flex>
        <v-flex xs12 sm9>
          <listado-inmuebles class="pt"
            :inmuebles="inmuebles"
            :paginas="paginas"
            v-model="page"
          />
          <h1 v-if="inmuebles.length < 1">No se han encontrado resultados </h1>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { State } from 'vuex-class';
import ListadoInmuebles from '@/components/home/ListadoInmuebles.vue';
import Filtros from '@/components/home/Filtros.vue';
import axios, { AxiosRequestConfig } from 'axios';

const axiosConfig: AxiosRequestConfig = {
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
  },
};

@Component({
  components: {
    ListadoInmuebles,
    Filtros,
  },
})
export default class Home extends Vue {
  public inmuebles: any[] = [];
  public paginas: number = 0;
  public page: number = 1;
  public filtrosBusqueda: any = '{}';

  get palabras() {
    return this.$route.params.palabras;
  }

  @Watch('page')
  @Watch('palabras')
  @Watch('filtrosBusqueda')
  private getInmuebles(): void {
    this.inmuebles = [];
    axiosConfig.params = { pagina: this.page };
    axiosConfig.baseURL = '/api/inmuebles';
    axiosConfig.params = JSON.parse(this.filtrosBusqueda);
    axios.get(this.palabras, axiosConfig)
        .then((response) => {
          this.inmuebles = response.data.inmuebles;
          this.paginas = response.data.paginas;
    }).catch((error) => { this.paginas = 0; });

  }

  private created() {
    this.getInmuebles();
  }

}
</script>
<style lang="scss">
.pt > .container {
  padding-top: 0;
}
</style>
