<template>
  <v-card>
    <v-img v-if="foto"
      :src="foto"
      aspect-ratio="1.75"
    >
    <!-- <v-container fill-height fluid> -->
      <v-layout fill-height align-flex-end>
        <v-flex xs12 class="abajo" >
          <v-chip color="#64b5f6" text-color="white">{{inmueble.tipo}}</v-chip>
        </v-flex>
      </v-layout>
    <!-- </v-container> -->
    </v-img>

    <v-card-text>
    <div class="headline"><span>Alquiler Mensual:</span><span> L. {{inmueble.precio}}</span></div>
      <div v-html="direccion"></div>
    </v-card-text>
    <v-card-actions>
      <v-btn block text-color="white" color="#64b5f6" :to="{ name: 'inmueble', params: { id: inmueble._id }}" block
      style="color:#FFF;"
      >Ver</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

import { InmuebleCard } from '@/interfaces/Inmueble';
import axios from 'axios';

const axiosConfig = {
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
  },
};


@Component({})
export default class Card extends Vue {

  @Prop() public inmueble!: InmuebleCard;
  get foto() {
    if (this.inmueble.fotos[0]) {
      // return '/api/imagen/' + this.inmueble.fotos[0].url;
      return this.inmueble.fotos[0].url;
    } else {
      return '/assets/no-image.jpg';
    }
  }

  get direccion() {
    const { departamento, municipio, colonia, NumeroCasa, bloque } = this.inmueble.ubicacion;
    return `<div style="font-size:1em;">${municipio},${departamento}<br>${colonia}, Bloque: ${bloque}, Casa No. ${NumeroCasa}</div>`;
  }
}

</script>

<style lang="scss" scoped>
.abajo{
  align-self: flex-end;
}
</style>
