<template>
<div>
        <v-card>
            <v-card-title primary-title>
            <div>
                <h3 class="headline mb-0">Filtros</h3>
            </div>
            </v-card-title>
            <v-container grid-list-md text-xs-center>
                <v-layout row wrap>
                    <v-flex xs12>
                        Precio
                        <v-text-field
                            label="Min"
                            v-model="filtros.minP"
                        ></v-text-field>
                        <v-text-field
                            label="Max"
                            v-model="filtros.maxP"
                        ></v-text-field>
                        Tamaño
                        <v-text-field
                            label="Min"
                            v-model="filtros.minT"
                        ></v-text-field>
                        <v-text-field
                            label="Max"
                            v-model="filtros.maxT"
                        ></v-text-field>
                        Tipo
                        <v-combobox
                            :items="items"
                            label="Select a favorite activity or create a new one"
                            v-model="filtros.tipo"
                            clearable
                        ></v-combobox>
                        Ubicación
                        <v-select
                            v-model="filtros.departamento"
                            :items="departamentos"
                            label="Departamento"
                            clearable
                        ></v-select>
                        <v-select
                            v-model="filtros.municipio"
                            :items="municipios"
                            label="Municipio"
                            clearable
                        ></v-select>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-card-actions>
            <v-btn flat color="#160c7b" @click="filtrar()">Filtrar</v-btn>
            </v-card-actions>
        </v-card>
</div>
</template>
<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
import Ubicacion from '@/data/Departamentos';
import Validaciones from '@/data/Validaciones';

@Component({})
export default class Filtros extends Vue {
    public filtros = {};
    public items = ['Casa', 'Apartamento', 'Cuarto'];
    public departamentos = Object.keys(Ubicacion);
    @Prop() private value!: object;

    get municipios() {
      if (this.filtros.departamento) {
        return Ubicacion[this.filtros.departamento];
      } else {
        return [''];
      }
    }

    public filtrar() {
      this.$emit('input', JSON.stringify(this.filtros));
    }
    public mounted() {
      this.filtros = this.$route.query;
    }
}
</script>
