<template>
     <v-container fluid grid-list-md style="background-color: #e2e2e2">
        <v-layout row v-if="existe && inmueble.precio">
            <v-flex xs12 sm10 offset-sm1>
                <v-card>
                    <v-carousel>
                        <v-carousel-item
                        v-for="(item,i) in inmueble.fotos"
                        :key="i"
                        :src="`${item.url}`"
                        lazy
                        aspect-ratio="1.75"
                        >
                        </v-carousel-item>
                    </v-carousel>

                    <v-card-title primary-title>
                        <v-spacer></v-spacer>
                        <div v-if="inmueble.arrendador._id === usuario._id">
                            <v-btn fab dark small color="#64b5f6" @click="dialog = true">
                                <v-icon dark>edit</v-icon>
                            </v-btn>
                            <v-btn fab dark small color="error" @click="eliminar()">
                                <v-icon dark>delete_forever</v-icon>
                            </v-btn>
                        </div>
                        <v-btn fab dark small :outline="!fav" :color="color" @click="favorito()">
                            <v-icon dark>favorite</v-icon>
                        </v-btn>
                    </v-card-title>

                    <v-card-text >
                        <v-container fluid grid-list-md>
                            <v-layout row wrap>

                            <v-flex d-flex xs12 sm6 md4>
                                    <v-card color="#8ddf00" dark>
                                        <v-card-title primary class="title">Precio:</v-card-title>
                                        <v-card-text style="font-size:3em;">
                                            L. {{inmueble.precio}}
                                        </v-card-text>
                                    </v-card>
                                </v-flex>

                                <v-flex d-flex xs12 sm6 md4>
                                    <v-card color="#00b80e" dark>
                                        <v-card-title primary class="title"> Características:</v-card-title>
                                        <v-card-text>
                                            <ul>
                                                <li>
                                                 Tipo de Vivienda: {{inmueble.tipo}}
                                                </li>
                                                <li>
                                                 Tamaño: {{inmueble.tamano}}
                                                </li>
                                                <li>
                                                 No. de Habitaciones: {{inmueble.contiene.habitaciones}}
                                                </li>
                                                <li>
                                                 No. de Baños: {{inmueble.contiene.banos}}
                                                </li>

                                            </ul>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs12 sm6 md4>
                                    <v-card color="#69db7a" dark>
                                        <v-card-title primary class="title">Servicios Incluidos:</v-card-title>
                                        <v-card-text>
                                            <ul>
                                                <li>
                                                 Luz:  <v-icon v-if="inmueble.servicios.luz">done</v-icon>
                                                    <v-icon v-else>clear</v-icon>
                                                </li>
                                                <li>
                                                 Agua:  <v-icon v-if="inmueble.servicios.agua">done</v-icon>
                                                    <v-icon v-else>clear</v-icon>
                                                </li>
                                                <li>
                                                 TV:  <v-icon v-if="inmueble.servicios.tv">done</v-icon>
                                                    <v-icon v-else>clear</v-icon>
                                                </li>
                                            </ul>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>

                                <v-flex d-flex xs12 sm6 md4>
                                    <v-card color="#008fff" dark>
                                        <v-card-title primary class="title"> Requisitos:</v-card-title>
                                        <v-card-text>
                                            <ul>
                                                <li>Mascotas:
                                                    <v-icon v-if="inmueble.requisitos.mascota">done</v-icon>
                                                    <v-icon v-else>clear</v-icon>
                                                </li>
                                                <li>Trabajo:
                                                    <v-icon v-if="inmueble.requisitos.trabajo">done</v-icon>
                                                    <v-icon v-else>clear</v-icon>
                                                </li>
                                                <li>Estado civil: {{inmueble.requisitos.estadoCivil}}</li>
                                                <li>Número de Personas Permitidas: {{inmueble.requisitos.personasPermitidas}}</li>
                                            </ul>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs12 sm6 md4>
                                    <v-card color="#061d54" dark>
                                        <v-card-title primary class="title">Ubicacion:</v-card-title>
                                        <v-card-text>
                                            <ul>
                                                <li>
                                                 Departamento: {{inmueble.ubicacion.departamento}}
                                                </li>
                                                <li>
                                                 Municipio: {{inmueble.ubicacion.municipio}}
                                                </li>
                                                <li>
                                                 Colonia: {{inmueble.ubicacion.colonia}}
                                                </li>
                                                <li>
                                                 Bloque: {{inmueble.ubicacion.bloque}}
                                                </li>
                                                <li>
                                                 No. de Casa: {{inmueble.ubicacion.NumeroCasa}}
                                                </li>
                                            </ul>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs12 sm6 md4>
                                    <v-card color="#69dbb3" dark>
                                        <v-card-title primary class="title">Información de Arrendatario:</v-card-title>
                                        <v-card-text>
                                            <ul>
                                                <li>
                                                 Nombre: {{inmueble.arrendador.nombre}}
                                                </li>
                                                <li>
                                                 Correo: {{inmueble.arrendador.email}}
                                                </li>
                                                <li>
                                                 Teléfono : {{inmueble.arrendador.telefono}}
                                                </li>
                                            </ul>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-container>
                     </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
        <v-layout row v-if="existe && !inmueble.precio">
        <h1>Cargando..</h1>
        </v-layout>
        <v-layout row v-if="!existe">
        <h1>El inmueble no existe</h1>
        </v-layout>
        <v-dialog v-model="dialog" width="800px">
            <EditarInmueble v-model="dialog" :NuevoInmueble="inmueble" v-if="inmueble.arrendador._id === usuario._id"/>
        </v-dialog>
     </v-container>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { State } from 'vuex-class';
import axios, { AxiosRequestConfig } from 'axios';
import EditarInmueble from '@/components/home/EditarInmueble.vue';

const axiosConfig: AxiosRequestConfig = {
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
  },
};

@Component({
  components: {
    EditarInmueble,
  },
})
export default class Card extends Vue {
  private inmueble = false;
  private id: string = '';
  private fav: boolean = false;
  private dialog: boolean = false;
  private existe: boolean = true;
  @State('usuario') private usuario!: any;

  get color() {
    if (this.fav) {
      return 'pink';
    } else {
      return 'grey';
    }
  }

  constructor() {
    super();
    this.inmueble = {
      precio: '',
      tamano: '',
      tipo: '',
      contiene: {
        habitaciones: '',
        banos: '',
      },
      servicios: {
        tv: false,
        luz: false,
        agua: false,
      },
      requisitos: {
        trabajo: false,
        estadoCivil: '',
        personasPermitidas: '',
      },
      ubicacion: {
        departamento: '',
        municipio: '',
        colonia: '',
        NumeroCasa: '',
        bloque: '',
      },
      arrendador: {
        _id: '',
      },
    };
  }
  public favorito() {
    axiosConfig.baseURL = '/api/favorito';
    axios.post(this.id, '', axiosConfig)
    .then((response) => {
      this.fav = !this.fav;
      // console.log(response.data);
    })
    .catch((error) => {
      alert('Necesita estar logueado para usar esta funcion');
    });
  }

  private async getInmuebles() {
    try {
      const response = await fetch(`/api/inmueble/${this.id}`);
      if (response.status === 200) {
        const data = await response.json();
        this.inmueble = data.inmueble;
        this.fav = data.favorito;
      } else {
        this.existe = false;
      }
    } catch (error) {
      // console.log(error);
    }
  }

  private created() {
    this.id = this.$route.params.id;
    this.getInmuebles();
  }

  private eliminar() {
    // console.log('borrando');
    axiosConfig.baseURL = '/api/inmueble/';
    axios.delete(this.id, axiosConfig)
      .then((response) => {
        // console.log(response.data);
        this.existe = false;
      })
      .catch((error) => { /* console.log(error); */});
  }
}
</script>
