<!--Pagina que carga los Inmuebles-->
<template>
    <listado-inmuebles :inmuebles="inmuebles" :paginas="paginas" v-model="page">
    <h1 style="color: #FFF !important; text-align:center; background-color: #64b5f6;">Home</h1>
    </listado-inmuebles>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import ListadoInmuebles from '@/components/home/ListadoInmuebles.vue';
import axios, { AxiosRequestConfig } from 'axios';

const axiosConfig: AxiosRequestConfig = {
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
  },
};

@Component({
  components: {
    ListadoInmuebles,
  },
})
export default class Home extends Vue {
  public inmuebles: any[] = [];
  public paginas: number = 0;
  public page: number = 1;

  @Watch('page')
  private getInmuebles(): void {
    axiosConfig.params = { pagina: this.page };
    axios.get('/api/inmuebles-home', axiosConfig)
        .then((response) => {
          this.inmuebles = response.data.inmuebles;
          this.paginas = response.data.paginas;
    }).catch((error) => { this.paginas = 0; });
  }

  private created() {
    this.getInmuebles();
  }
}
</script>