<template>
    <listado-inmuebles :inmuebles="inmuebles" :paginas="paginas" v-model="page">
      <h1 style="color: #FFF !important; text-align:center; background-color: #64b5f6;">Mis Inmuebles</h1>
    </listado-inmuebles>
</template>
<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import ListadoInmuebles from '@/components/home/ListadoInmuebles.vue';
import { beforeRouteEnter } from '@/guard.ts';

@Component({
  components: {
    ListadoInmuebles,
  },
  beforeRouteEnter,
})
export default class Favoritos extends Vue {
  public inmuebles: any[] = [];
  public paginas: number = 0;
  public page: number = 1;

  public created() {
    this.obtenerFavoritos();
  }
  @Watch('page')
  public async obtenerFavoritos() {
    try {
      const parametros = new URLSearchParams();
      parametros.append('pagina', this.page.toString(10));
      const res = await fetch(`/api/inmuebles-usuario?${parametros.toString()}`);
      if (res.status !== 401) {
        const data = await res.json();
        this.inmuebles = data.inmuebles;
        this.paginas = data.paginas;
      }
    } catch (error) {
      this.paginas = 0;
      // console.log(error);
    }
  }

}
</script>
<style lang="scss">
h1{
  color: #9D1515 !important;
  text-align:center;
}
</style>
