
<template>
    <div>
        <slot />
        <v-container grid-list-md text-xs-left>
        <v-layout row wrap>
          <v-flex v-for="inmueble in inmuebles" xs12 sm6 md4 lg4 xl3 :key="inmueble._id">
            <Card :inmueble="inmueble" />
          </v-flex>
        </v-layout>
        <div class="text-xs-center">
          <v-pagination v-show="paginas"
            v-model="pagina"
            :length="paginas"
            color="#64b5f6"
          ></v-pagination>
        </div>
      </v-container>
    </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import Card from '@/components/home/Card.vue';
import { Inmueble } from '@/interfaces/Inmueble';
@Component({
    name: 'listado-inmuebles',
    components: {
    Card,
  },
})
export default class Listado extends Vue {
  @Prop() public inmuebles!: Inmueble;
  @Prop() public paginas!: string;
  @Prop() public value = 1;
  public pagina = 1;

  @Watch('pagina')
  public actualizarPage() {
    this.$emit('input', this.pagina);
  }
}
</script>
