<template>
  <router-view></router-view>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Landing from '@/views/Landing.vue';

@Component({
  components: {
    Landing,
  },
})
export default class App extends Vue {
  constructor() {
    super();
  }
}
</script>

